body {
    text-align: center;
}
h1 {
    font-family: Arial, sans-serif;
    text-align: center;

}
h2 {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}
button {
    margin: 5px;
    padding: 5px;
    background-color: rgb(232, 222, 210);
    font-family: 'Segoe UI';
    font-weight: bold;
}
