body {
    background-color: rgb(168, 218, 201);
}

.body {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    height: 100vh;
    /* full screen height */
    margin: 10;
}

.head {
    text-align: center;
    margin: 10px;
}

.container {
    text-align: center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(149, 232, 204);
    border: 2px solid rgba(0, 0, 0, 0.407);
}

#result {
    margin: 20px;

}

button {
    display: inline-block;
    background-color: bisque;
    color: black;
    cursor: pointer;
    border: none;
    font-size: medium;
}

@media (max-width:768px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}