.text {
    text-align: center;
    font-family: sans-serif;
}

.para {
    text-align: center;
    font-family: cursive;
}

.button {
    border: 2px solid black;
    padding: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    margin-left: 8%;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}



@media (max-width: 768px) {
    .text {
        font-size: 1rem;

    }

    .para {
        font-size: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}